* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
  }
header{
  border-bottom: 2px solid #e2e2e2;
  width: 100%;
  padding:10px;
}
.navigation-left{
  float: left;
}
.navigation-right{
  float: right;
  padding-right: 25px;
}
.navigation-title{
  text-align: center;
}
.navigation-right > button{
  margin-right: 5px;
  background-color: #6288a5;
  color: white;
  padding: 11px 12px 4px 12px;
  border-radius: 5px;
  font-weight: 1000;
  border-width: 1px;
  border-color: #326891;

}
